include head
body.err
  .wrapper-600 
    p.marginTop-2.font-size-large ¯\_(ツ)_/¯
    if error.message
      p.marginTop-2 #{error.message}
    else 
      p.marginTop-2 #{error}
    .marginTop-2 
      p View the 
        a(href="https://github.com/iamspruce/spruceAuth/" target="_blank" rel="noopener noreferrer") setup instructions 
        span for more information.
      p If you have any trouble using this service, please open an issue on GitHub.
      a.btn.btn-white(href="https://github.com/iamspruce/spruceAuth/issues") Open Issue