extends layout 
block main 
  - console.log(err, error)
  h1.header= title 
  .bg-err
    if error
      p.text-center= error.message
    else 
      p.text-center Something went very wrong we could not authenticate you using this provider, please go back and select another provider
