doctype html
html(lang="en")
  include head

  body
    .wrapper.wrapper-home 
      form.header(action="/auth" method="get")
        div
          if user 
            h1 Welcome #{user}
            p You successfully authenticated as #{user.username}
            p Enter your domain to try again
          else
            h1 Welcome Dear Internet Friend
            p Enter Your Domain name in the form below to test the spruceAuth Authentication
        label.screen-reader-text(for="url") login to formzilla
        input(id="url" type="url" name="me" placeholder="https://yourdomain.com" )
        input(type="hidden" name="redirect_uri" value="https://indie.iamspruce.dev/demo/login")
        input(type="hidden" name="client_id" value="https://indie.iamspruce.dev")
        input(type="hidden" name="state" value="jwiusuerujs")
        button(type="submit") Sign In With Your Domain
      footer.footer
        .footer__inner.h-app
          p.footer__item
            strong © 2021 
            br 
            a.u-url.p-name(href="http://localhost:4000/") Spruce
          p.footer__item
            strong Social 
            br 
            a(href="https://github.com/iamspruce" rel="me") Github 
            | /
            a(href="https://twitter.com/sprucekhalifa" rel="me") Twitter
          p.footer__item
            strong SetUp 
            br
            a(href="https://github.com/iamspruce/spruceAuth/") How to Use
          p.footer__item
            strong Buy me a Coffee 
            br
            a(href="https://ko-fi.com/spruceemma") spruceemma