extends layout 
block main 
  header.header You are logging In to: #{login_request.client_info.client_id}
  .auth-wrapper
    p You will be redirected to:  login_request.client_info.redirect_uri
    a.btn.btn-round(href=`${auth}?${switch_account}`) Switch Account